<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Guru99 Suite">

    <test name="Guru99 Tests">

       <classes>
    <class name="testcases.LoginTest"/>
    <class name="testcases.CustomerTest"/>
    <class name="testcases.AccountTest"/>
    <class name="testcases.TransactionTest"/>
    <class name="testcases.FundTransferTest"/>
</classes>
    </test>

</suite>